<form class="ui large form segment">
  <h3 class="ui header">Add a Link</h3>
  <div class="field">
    <label for="title">Title:</label>
    <input name="title" #newTitle>
  </div>
  <div class="field">
    <label for="link">Link:</label>
    <input name="link" #newLink>
  </div>
  <button (click)="addArticle(newTitle, newLink)" class="ui positive right floated button">
    SUBMIT
  </button>
</form>

<!-- start adding here -->
<div class="ui grid posts">
  <app-article *ngFor="let article of articles" [article]="article">
  </app-article>
</div>
<!-- end adding here -->

<router-outlet></router-outlet>
